Welcome to <b>ForemanM2</b>

<p>
  <strong>M2 Images Available:</strong>
  <% @response.each do |t| %>
    <%= t %></li>
  <% end %>
  <br>

  <strong>M2 Snapshots:</strong>
  <% @snaps.each do |t| %>
    <%= t %></li>
  <% end %>
  <br>
</p>
