<h2>Nothing to see here!</h2>

<%
    arch ||= nil ; os ||= nil
    #compute_resource = ComputeResource.find_by name: "mustard"
    images = possible_images(compute_resource, arch, os)
-%>

<div id='image_selection'>
  <%= select_f f, :image_id, images, :uuid, :name,{:include_blank => (images.empty? || images.size == 1) ? false : _('Please select an image')},
             { :disabled    => images.empty? || (params[:host] && params[:host][:provision_method] == 'build'),
               :'data-url'  => template_selected_compute_resource_path(compute_resource),
               :help_inline => :indicator,
               :help_block  => _("Image to use"),
               :label => _('Image'), :label_size => "col-md-2"} %>
</div>
