<div id='custom_ptable'>
  <%= textarea_f f, :disk, :size => "col-md-8", :rows => "4",
           :help_block => _("What ever text(or ERB template) you use in here, would be used as your OS disk layout options If you want to use the partition table option, delete all of the text from this field") %>
</div>
